# ============================================
#       💎 LMC-SOLUTION — Configuration
# ============================================
# Copiez ce fichier en .env et remplissez vos infos
# cp .env.example .env

# 📞 Numéro du PROPRIÉTAIRE du bot (sans + et sans espace)
OWNER_NUMBER=224626279409
OWNER_NAME=L'ART BOSS

# 🛠️ Numéros des CRÉATEURS / développeurs (séparés par une virgule, accès total)
CREATOR_NUMBERS=224621963059,224662675862
CREATOR_NAMES=IB-SACKO,SALGA

# 🏷️ Nom du système / communauté
SYSTEM_NAME=CENTRAL-HEX

# 🤖 Nom du bot
BOT_NAME=LMC-SOLUTION

# 🌍 Mode du bot: public ou private
COMMAND_MODE=public

# 🎨 Nom / auteur du pack de stickers
PACK_NAME=LMC-SOLUTION
PACK_AUTHOR=IB-SACKO & SALGA

# 📌 Version du bot
BOT_VERSION=1.0.0

# 🌐 URL publique de ton bot (optionnel, pour l'auto-ping anti-veille)
APP_URL=
